<ion-header>
  <ion-toolbar>
    <ion-title>Liste des objects</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let object of objects" class="card" [routerLink]="['/object', object.id]">
      <ion-avatar slot="start">
        <ion-img
          src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-13-pink-select-2021?wid=470&hei=556&fmt=jpeg&qlt=95&.v=1629842709000">
        </ion-img>
      </ion-avatar>
      <ion-label>{{object.name}} - {{object.priceStart }} <ion-icon name="logo-euro"></ion-icon>
      </ion-label>
    </ion-item>


  </ion-list>

</ion-content>