<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/objects-list"></ion-back-button>
    </ion-buttons>
    <ion-title>Détail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card-product">
    <ion-card class="card">
      <ion-card-header>

        <ion-card-title>{{object?.name}}</ion-card-title>
        <br>
        <img
          src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-13-pink-select-2021?wid=470&hei=556&fmt=jpeg&qlt=95&.v=1629842709000">
      </ion-card-header>


      <ion-card-content class="card-content">
        <ion-title>{{object?.priceStart}}</ion-title>

        <ion-button>Ajouter au panier</ion-button>
        <ion-button *ngIf="!showInputAuction" (click)="showInputAuction = !showInputAuction;">Auction</ion-button>
        <ion-button *ngIf="showInputAuction" (click)="showInputAuction = !showInputAuction;">Cancel</ion-button>
        <div *ngIf="showInputAuction">Tu peux enchèrire</div>


      </ion-card-content>

    </ion-card>
  </div>

</ion-content>