.button {
    display: flex;
    justify-content: center;
    
}
.auction-container > form > ion-item{
  margin: 5% 0px 5px 0px;
}

.button {
    display: flex;
    justify-content: center;
flex-direction: column
}

.titleObject {
  color: white;
}